*{
margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}
html,body{
    width: 100%;
    height: 100%;
    font-family:"gilroy";
    overflow-x: hidden;
}
.main{
    width: 100%;
    height: 100%;
}

.page1 {
    width: 100vw;
    height: 95%;
    /* border: 2px solid black; */
    position: relative;
}
nav > ul {
    width: 100vw;
    display: flex;
    align-items: center;
    gap: 2.5vmax;
    height: 12%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 99;
    background-color: white;
    list-style: none;
    padding-left: 28vmax;
     
}
nav > ul > img{
width: 9vmax;
margin-left: -18vmax;
}
ul > :hover{
    color: rgb(6, 233, 108);
}

.page2 >nav{
    width: 50vmax;
    height: 41vmax;
    background-color:rgb(1, 48, 57);
margin-left: 5vmax;
margin-top: 10vmax;
/* position: fixed; */
    
}
.page2 > img {
    width: 48vmax;
    height: 32vmax;
    position: absolute;
    left: 45vmax;
    top: 3vmax;
    border-radius: 12px;
}
.page3  {
    width: 43vmax;
    height: 32vmax;
    background-color: white;
    position: absolute;
    border-radius: 12px;
    top: 5.5vmax;
    left: 8vmax;
}
.page3 > h2 {
    font-size: 28px;
    color: rgb(77, 193, 123);
    margin-top: 3vmax;
    margin-left: 3vmax;
    font-family: "Cambria Math";
}
.page3 > h1{
    font-size: 2.5vmax;
    margin-left: 2.5vmax;
    color:rgb(0, 82, 60);
    margin-top: 2vmax;
}
.page3 > h3{
    margin-left: 2vmax;
     font-size: 2.5vmax;
     color: rgb(0, 82, 60);
     
}
.page3 > h4{
    font-size: 2.5vmax;
    margin-top: 18px;
    margin-left: 2.3vmax;
    color: rgba(77,193,123);
    font-weight: 550;
}
.page3 > p{
    margin-left: 2vmax;
    margin-top: 1.2vmax;
    font-weight: 100;
    font-size: 17px;
    color: rgba(0, 0, 0, 0.69);
    line-height: 1.5vmax;
}
.page4 > button{
    padding: 8px;
    width: 10vmax;
    height: 3vmax;
    border-radius: 26px;
    border: none;
    background-color: rgb(77, 197, 123);
    margin-top: 2vmax;
    margin-left: 4vmax;
    color: aliceblue;
    transform: translate y(-10%);
}
.page4 > :hover{
    background-color: rgb(0,82,67);
    /* color: black; */
}
.main2{
    width: 100%;
    height: 100%;
}
.left > img {
    width: 33vmax;
    height: 2%;
    margin-left: 10vmax;
    margin-top: -36vmax;
    position: relative;
}
.left > nav {
    margin-left: 21vmax;
    margin-top: -42vmax;
    
}
.left2{
    width: 21.8vmax;
    height: 8.3vmax;
    background-color: white;
    margin-left: 20.5vmax;
    margin-top: -41.4vmax;
    position: relative;
}
 .left3 > h2 {
margin-top: 5vmax;
margin-left: 50vmax;
font-size: 21px;
font-family: "cambria Math";
position: relative;
color: rgb(16, 105, 8);
 }
 .left3 > h1 {
    margin-left: 51vmax;
    font-size: 32px;
    font-weight: 100;
padding-top: 5vmax;
    font-family: "cambria Math";
    color:rgb(6, 55, 1) ;
 }
 .left3 > p {
margin-left: 51vmax;
margin-top: 3vmax;
font-size: 1.6vmax;
font-weight: 100;
line-height: 2.5vmax;

 }
 .right > button {
    position: absolute;
    top: 40vmax;
    left: 30vmax;
    padding: 6px;
    width: 18vmax;
    height: 3vmax;
    border-radius: 28px;
    border: none;
    background-color:rgb(77,197,123) ;
    color: aliceblue;
    font-size: 15px;
 }
 .right > :hover{
    background-color: rgb(10, 92, 5);
    box-shadow: 10px 12px;
    color:white ;
 }
 .main3{
    width: 100%;
    height: 100%;  
 }
 .left > h3 {
font-family: "Cambria Math";
margin-top: -1vmax;
margin-left: 10vmax;
color: rgb(77, 192, 123);
font-size: 1.5vmax;
 }
 .left > h2 {
    font-size: 2.2vmax;
    font-family: "cambria Math";
    margin-top: 2vmax;
    font-weight: 100;
    margin-left: 10vmax;
    color: rgb(10, 92,5 );
 }
 .left > h4 {
    font-size: 1.6vmax;
    font-weight: 100;
    margin-left: 9.9vmax;
    margin-top: 3vmax;
    
 }
 .left > h1{
font-size: 1.5vmax;
margin-left: 29vmax;
margin-top: -1.8vmax;
color: rgb(1, 92, 5);
 }
 .left > p{
    margin-left: 10vmax;
    margin-top: 3vmax;
    font-size: 1.5vmax;
    font-weight: 100;
    line-height: 2.2vmax;
 }
 .left > h5 {
    margin-top: 3vmax;
    margin-left: 10vmax;
    font-size: 1.3vmax;
    font-weight: 100;
    font-size: 1.5vmax;
    line-height: 2.2vmax;
 }
 .left2 > button {
    margin-top: 45vmax;
    margin-left: -5vmax;
    padding: 4px;
    width: 10vmax;
    height: 3vmax;
    border-radius: 4vmax;
    background-color:rgb(77, 193, 123);
    color: aliceblue;
    border: none;
 }
 .left2 > :hover{
    background-color: rgb(1, 92, 5);
 }
 .right1 > img {
    width: 89vmax;
    margin-top: 5vmax;
    padding-left: 55vmax;
    position: relative;
 }
 .right2 > img {
    margin-left: 65vmax;
    margin-top: -28.3vmax;
 }
 .right2 > nav {
    width: 22vmax;
    height: 10vmax;
    background-color: white;
    margin-left: 65vmax;
    margin-top: -10.2vmax;
    position: relative;
 }
 .main4{
    width: 100%;
    height: 190%;
    background-color: rgb(199, 230, 234);
    position: relative;
 }
 .main4 > .left > h3 {
    padding-top: 8vmax;
    color: rgb(5, 111, 132);
    margin-left: 5vmax;
 }
 .main4 > .left > h2{
    color: rgb(5, 111, 132);
    margin-left: 5vmax;
 }
 .main4 > .left > p {
    font-weight: 100;
    font-size: 1.6vmax;
    margin-left: 5vmax;
    line-height: 3vmax;
 }
 .main4 > .left >  h4 {
    margin-left: 4vmax;
    color: rgb(5, 111, 132);
 }
 .main4 > .left > nav > button {
padding: 6px;
width: 20vmax;
height: 3vmax;
border-radius: 8vmax;
border: none;
background-color: rgb(2, 75, 89);
color:aliceblue;
margin-top: 44vmax;
margin-left: -17vmax;
font-size: 1.3vmax;
 }
.main4 > .left > span > button {
    padding: 6px;
    width: 20vmax;
height: 3vmax;
border-radius: 8vmax;
border: none;
background-color: rgb(2, 75, 89);
color:aliceblue;
margin-top: 2vmax;
margin-left: 4vmax;
font-size: 1.3vmax;
}
.main4 >.left > .right1 > nav {
    width: 25vmax;
    height: 22vmax;
    background-color: rgb(5, 75, 89);
    margin-top: -58vmax;
    margin-left: 40vmax;
    border-radius: 6px;
}
.main4 >.left > .right1 > h1{
    font-family: "gilroy";
    font-size: 1.4vmax;
    font-weight: 30000;
    margin-left: 43vmax;
    margin-top: -19vmax;
    color: aliceblue;
}
.main4 > .left > .right1 > h2{
    color: aliceblue;
    margin-left:43vmax ;
    font-size: 1.4vmax;
    margin-top: 1vmax;
    line-height: 3vmax;
    font-family: "cambria Math";
}
nav > :hover{
    background-color: rgb(107, 99, 99);
}
.main4 > .left > .right1 > .right2 {
    width: 25vmax;
    height: 22vmax;
    background-color: rgb(5, 75, 89);
    margin-top: 5vmax;
    margin-left: 40vmax;
    border-radius: 6px;
}
.main4 > .left > .right1 > .right2 > h4{
color: aliceblue;
font-size: 1.3vmax;
font-family: "gilroy";
padding-top: 2vmax;
margin-left: 2vmax;
}
.main4 > .left > .right1 > .right2 > h3{
    color: aliceblue;
    margin-left:2vmax ;
    font-size: 1.4vmax;
    margin-top: 1vmax;
    line-height: 3vmax;
    font-family: "cambria Math";
    cursor: pointer;
}
.main4 > .left > .right1 > .right2 > .right3{
    width: 25vmax;
    height: 22vmax;
    background-color: rgb(5, 75, 89);
    margin-top: 2vmax;
    /* margin-left: 2vmax; */
    border-radius: 6px;
}
.main4 > .left > .right1 > .right2 > .right3 > h3{
    color: aliceblue;
font-size: 1.3vmax;
font-family: "gilroy";
padding-top: 2vmax;
margin-left: 2vmax;
}
.main4 > .left > .right1 > .right2 > .right3 > h2{
    color: aliceblue;
    margin-left:2vmax ;
    font-size: 1.4vmax;
    margin-top: 1vmax;
    line-height: 3vmax;
    font-family: "cambria Math";
    cursor: pointer;
}
.main4 > .left > .right1 > .right2 > .right3 > .right4{
    width: 25vmax;
    height: 22vmax;
    background-color: rgb(5, 75, 89);
    margin-top: -77vmax;
    margin-left: 28vmax;
    border-radius: 6px;
}
.main4 > .left > .right1 > .right2 > .right3 > .right4 > h2{
    color: aliceblue;
    font-size: 1.3vmax;
    font-family: "gilroy";
    padding-top: 2vmax;
    margin-left: 2vmax;

}
.main4 > .left > .right1 > .right2 > .right3 > .right4 > h3{

    color: aliceblue;
    margin-left:2vmax ;
    font-size: 1.4vmax;
    margin-top: 1vmax;
    line-height: 3vmax;
    font-family: "cambria Math";
    cursor: pointer;
}

.main4 > .left > .right1 > .right2 > .right3 > .right4 > .right5{
    width: 25vmax;
    height: 22vmax;
    background-color: rgb(5, 75, 89);
    margin-top: 7vmax;
    /* margin-left: 2vmax; */
    border-radius: 6px;
}

.main4 > .left > .right1 > .right2 > .right3 > .right4 > .right5 > h2{
    color: aliceblue;
    font-size: 1.3vmax;
    font-family: "gilroy";
    padding-top: 2vmax;
    margin-left: 2vmax;

}
.main4 > .left > .right1 > .right2 > .right3 > .right4 > .right5 > h3{
color: aliceblue;
margin-left:2vmax ;
font-size: 1.4vmax;
margin-top: 1vmax;
line-height: 3vmax;
font-family: "cambria Math";
cursor: pointer;
}
.main4 > .left > .right1 > .right2 > .right3 > .right4 > .right5 > .right6{
    width: 25vmax;
    height: 22vmax;
    background-color: rgb(5, 75, 89);
    margin-top: 7vmax;
    /* margin-left: 2vmax; */
    border-radius: 6px;
}

.main4 > .left > .right1 > .right2 > .right3 > .right4 > .right5 > .right6 > h2{

    color: aliceblue;
    font-size: 1.3vmax;
    font-family: "gilroy";
    padding-top: 2vmax;
    margin-left: 2vmax;

}

.main4 > .left > .right1 > .right2 > .right3 > .right4 > .right5 > .right6 > h3{
    color: aliceblue;
    margin-left:2vmax ;
    font-size: 1.4vmax;
    margin-top: 1vmax;
    line-height: 3vmax;
    font-family: "cambria Math";
    cursor: pointer;
}
.main5 {
    width: 100%;
    height: 100%;
    
}

.main5 > .left > img {
    width: 25.9vmax;
    height: 30vmax;
    margin-top: 8vmax;
    position: relative;
    margin-left: 13vmax;
}
.main5 > .left >.left3 > img {
    width:18vmax ;
    height: 8%;
    margin-top: -28vmax;
    margin-left: 17vmax;

}

.main5 > .left >.left3 > nav {
    width: 20%;
    height: 8vmax;
    background-color: white;
    margin-left: 15.5vmax;
    margin-top: -8vmax;
    position: relative;
}

.main5 > .left >.left3 > .right1 > h1{
    font-size: 1.7vmax;
    font-family: "cambria Math";
    font-weight: 600;
    color: rgb(113, 193, 144);
    margin-left: 55vmax;
    margin-top: -37vmax;
}
.main5 > .left >.left3 > .right1 > h2{
    margin-left:55vmax ;
    font-size: 28px;
    font-family: "cambria Math";
    font-weight: 400;
    margin-top: 2vmax;
    color: rgb(0, 46, 55);
}

.main5 > .left >.left3 > .right1 > p{

    margin-left: 55vmax;
    font-size: 22px;
    font-family: "cambria Math";
    line-height: 2.3vmax;
    margin-top: 1.5vmax;
    font-weight: 100;
    color: rgba(0, 0, 0, 0.701);

}
.main5 > .left >.left3 > .right1 >.right3 >button {
  padding: 6px;
  width: 12vmax;
  height: 3vmax;
  border-radius: 25px;
  background-color: rgb(90, 193, 131);
  border: none;
  color: aliceblue;
margin-left: 60vmax;
margin-top: 3vmax;
}

.main5 > .left >.left3 > .right1 >.right4  > button{

    padding: 6px;
    width: 12vmax;
    height: 3vmax;
    border-radius: 25px;
    background-color: rgb(77, 196, 125);
    border: none;
    color: aliceblue;
  margin-left: 60vmax;
  margin-top: 1.5vmax;
  
}
.main6 {
    width: 100%;
    height: 200%;
}

.main6 > .left > h1 {
    font-size: 1.5vmax;
    font-family:"cambria Math" ;
    margin-left: 8vmax;
    margin-top: 8vmax;
    color: rgb(90, 193, 131);
}

.main6 > .left > p{
    font-size: 1.4vmax;
    font-weight: 100;
    font-family: "Cambria Math";
    margin-left: 8vmax;
}
.main6  > .left > h2 {
    font-size: 1.5vmax;
    margin-top: -16vmax;
    margin-left: 50vmax;
    line-height: 2.2vmax;
}
.main6  > .left > h3 {
    font-size: 1.3vmax;
    color: rgb(44, 176, 99);
    margin-left: 50vmax;
    margin-top: 3vmax;
    font-weight: 100;
}
.main6  > .left > h4 {
    
    margin-left: 51vmax;
    margin-top: -1.1px;
    font-size: 18px;
    color: rgb(142, 188, 160);
}

.main6  > .left > .right1 > button {
    padding: 6px;
    width: 13vmax;
    height: 2.8vmax;
    border-radius: 25px;
    background-color: rgb(60, 180, 108);
    border: none;
    color:aliceblue;
    margin-left: 50vmax;
    margin-top: 2vmax;
    font-family: "cambria Math";
   
}

.main6  > .left > .right1 > h5 {
    font-size: 1.3vmax;
    margin-left: 52vmax;
    margin-top: 2vmax;
    font-weight: 100;
    color: brown;
}
.main6  > .left > .right1 > .left3 > .rock {
width: 30vw;
height: 68vh;
padding-top:5vmax;
margin-left: 5vmax;
} 
.main6  > .left > .right1 > .left3 > :hover{
    transform: scale(1.1);
}
.main6  > .left > .right1 > .left3 > .rock2 {
    width: 30vw;
    height: 68vh;
    padding-top:5vmax;
    margin-left: 2vmax;
}
.main6  > .left > .right1 > .left3 > .rock3 {

    width: 25vw;
    height: 68vh;
    padding-top:-50vmax;
    margin-left: 73vmax;
}

.main6  > .left > .right1 >.left4 > img {
    width: 30vw;
    height: 59vh;
    margin-top:-37vmax;
    margin-left: 69.5vmax;
}
.main6  > .left > .right1 >.left4 > :hover {

transform: scale(1.1);
}
.main6  > .left > .right1 >.left4 > nav {
width: 43vmax;
height: 2px;
background-color: black;
margin-top: 5vmax;
margin-left: 5vmax;
}
.main6  > .left > .right1 >.left5 {

    width: 40vmax;
    height: 1px;
    background-color: rgba(0, 0, 0, 0.277);
    margin-left: 48vmax;
    margin-top: -2px;

}
.main6  > .left > .right1 >.left5> .center > h1 {
    padding-top: 5vmax;
    margin-left: -10vmax;
    font-weight: 100;
    color: rgb(1, 55, 66);
}
.main6  > .left > .right1 >.left5> .center > img {

    width: 18vmax;
    margin-top: 5vmax;
    margin-left: -42vmax;
}
.main6  > .left > .right1 >.left5> .center > .rock {
margin-left: 8vmax;
width: 15vmax;
}
.main6  > .left > .right1 >.left5> .center > .rock2 {
width: 15vmax;
    margin-left: 8vmax;
}
.main6  > .left > .right1 >.left5> .center > .rock3 {
    width: 10vmax;
    margin-left: 7vmax;
}
.main7{
    width: 100%;
    height: 100%;

}
.main7 > .center{
    width: 100%;
    height: 80%;
    background-color: rgb(175, 224, 244);
}
.main7 > .center > h1{
font-weight: 100;
    font-family: "cambria Math";
    font-size: 32px;
    margin-left: 13vmax;
    padding-top: 8vmax;
    color: rgb(5, 56, 67);
    position: relative;
}
.main7 > .center > h2 {
    font-size: 1.5vmax;
    font-weight: 500;
    margin-left: 13vmax;
    font-family: "cambria Math";
    margin-top: 8px;
    color: rgb(5, 56, 67);
    position: relative;
}

.main7 > .center > h3 {

    font-size: 26px;
    font-weight: 100;
    margin-left: 13vmax;
    margin-top: 1.7vmax;
    line-height: 2.3vmax;
}

.main7 > .center > .center2 > button {

 padding: 6px;  
 width: 14vmax; 
 height: 3vmax;
 border-radius: 20px;
 background-color: rgb(1, 54, 64);
 color: aliceblue;
 margin-left: 10vmax;
 margin-top: 5vmax;
}

.main7 > .center > .center2 > img {

    width: 25vmax;
    margin-left: 60vmax;
    margin-top: -20vmax;
}
.main8 {
    width: 100%;
    height: 60%;
    
}
.main8 > .left1  > img{
    margin-left: 10vmax;
    width: 9vmax;
    margin-top: -15vmax;
}

.main8 > .left1  > .left3 > button{
padding: 6px;
width: 16vmax;
height: 3.5vmax;
border-radius: 20vmax;
background-color: rgb(60, 180, 108);
font-size:16px;
font-family: "cambria Math";
margin-left: 8vmax;
border: none;
margin-top: 2vmax;
color: aliceblue;
}
.main8 >  .top > h2{
    font-size: 1.5vmax;
    font-family: "cambria Math";
    font-weight: 100;
    margin-left: 35vmax;
    margin-top: -8vmax;
}
.main8 >  .top > h3{

    font-family: "cambria math";
    font-weight: 200;
    margin-left: 35vmax;
    line-height: 2vmax;
    margin-top: 1.5vmax;
}

.main8 >  .top > h4{

    font-size: 1.5vmax;
    font-family: "cambria Math";
    font-weight: 100;
    margin-left: 58vmax;
    margin-top: -15vmax;
}
.main8 >  .top > h5{
font-size: 18px;
    font-family: "cambria math";
    font-weight: 200;
    margin-left: 59vmax;
    line-height: 2vmax;
    margin-top: 1.5vmax;
}  
.main8 >  .top > h1{
    font-size: 1.5vmax;
    font-family: "cambria Math";
    font-weight: 100;
    margin-left: 78vmax;
    margin-top: -11.5vmax;
}
.main8 >  .top > p{
    font-size: 18px;
    font-family: "cambria math";
    font-weight: 200;
    margin-left: 79vmax;
    line-height: 2vmax;
    margin-top: 1.5vmax;
}  
